<section class="todoapp">
  <header class="header">
    <h1>Ng Todos</h1>
   <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
   <input *ngIf="todos.length > 0" id="toggle-all" type="checkbox" [(ngModel)]="allChecked" (click)="markAll(allChecked)" >
    </header>
  <section class="main" *ngIf="todos.length > 0">
    <!--<app-todo-item *ngFor="let todo of todos" [class.completed]="todo.complete"></app-todo-item>-->
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input  class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{complited}}</strong> {{complited == 1 ? 'item' : 'items'}} left</span>
 
    <button class="clearComplited" (click)="removeComplitedTodos()">Clear Complited</button>
  </footer>
</section>